HELP.md
target/
.m2/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

#Dot Env
.env

# Ignorar logs
logs/

# Ignorar relatorios
relatorios/

# Ignorar uploads
uploads/

# Ignorar logback
src/main/resources/logback-spring.xml
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.env

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.env
### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/
.env

### VS Code ###
.vscode/
.env

src/main/frontend/node_modules
src/main/frontend/.pnp
src/main/frontend/.pnp.js

# testing
src/main/frontend/coverage

# production
src/main/frontend/build

# misc
src/main/frontend/.DS_Store
src/main/frontend/.env.local
src/main/frontend/.env.development.local
src/main/frontend/.env.test.local
src/main/frontend/.env.production.local

src/main/frontend/npm-debug.log*
src/main/frontend/yarn-debug.log*
src/main/frontend/yarn-error.log*

# dependencies
src/main/website/node_modules
src/main/website//.pnp
src/main/website/.pnp.js

# testing
src/main/website//coverage

# production
src/main/website//build

# misc
src/main/website/.DS_Store
src/main/website/.env.local
src/main/website/.env.development.local
src/main/website/.env.test.local
src/main/website/.env.production.local

src/main/website/npm-debug.log*
src/main/website/yarn-debug.log*
src/main/website/yarn-error.log*
