<configuration>
    <property name="LOG_PATH" value="C:/PEI/logs"/>

    <!-- Appender JSON -->
    <appender name="FILE_JSON" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/app-log.json</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/app-log-%d{yyyy-MM-dd}.json</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <prettyPrint>true</prettyPrint>
            <providers>
                <timestamp>
                    <fieldName>timestamp</fieldName>
                    <pattern>yyyy-MM-dd'T'HH:mm:ss.SSSZ</pattern>
                </timestamp>
                <logLevel><fieldName>level</fieldName></logLevel>
                <loggerName><fieldName>logger</fieldName></loggerName>
                <threadName><fieldName>thread</fieldName></threadName>
                <message><fieldName>message</fieldName></message>
                <stackTrace><fieldName>stacktrace</fieldName></stackTrace>

                <!-- Campos customizados -->
                <mdc><fieldName>usuario</fieldName><mdcKey>usuario</mdcKey></mdc>
                <mdc><fieldName>requestId</fieldName><mdcKey>requestId</mdcKey></mdc>
                <mdc><fieldName>ip</fieldName><mdcKey>ip</mdcKey></mdc>
            </providers>
        </encoder>
    </appender>

    <!-- Appender log normal (TXT) -->
    <appender name="FILE_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/app-log.txt</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/app-log-%d{yyyy-MM-dd}.txt</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Desativa logs desnecessários do Spring e libs externas -->
    <logger name="org.springframework" level="OFF"/>
    <logger name="org.springframework.boot" level="OFF"/>
    <logger name="org.hibernate" level="OFF"/>
    <logger name="org.apache" level="OFF"/>
    <logger name="com.zaxxer" level="OFF"/>
    <logger name="org.flywaydb" level="OFF"/>
    <logger name="org.postgresql" level="OFF"/>

    <!-- Somente seu pacote principal loga -->
    <logger name="com.unibave.Lumina" level="INFO"/>

    <!-- Root logger envia para ambos appenders -->
    <root level="INFO">
        <appender-ref ref="FILE_JSON"/>
        <appender-ref ref="FILE_LOG"/>
    </root>
</configuration>
